<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zh_HK</key>
	<string>zh-Hant</string>
	<key>zh_TW</key>
	<string>zh-Hant</string>
	<key>zh_MO</key>
	<string>zh-Hant</string>
	<key>zh_CN</key>
	<string>zh-Hans</string>
	<key>zh_SG</key>
	<string>zh-Hans</string>
</dict>
</plist>
