AppIcon ICON "evasi0n.ico"

BACKGROUND BITMAP "background.bmp"
LOGO ICON "e_logo.ico"

cydia 10 "../../../kernel/Cydia.tar.lzma"
packagelist 10 "../../../kernel/packagelist.tar.lzma"

1 24 "manifest.xml"

1 VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK 0
FILEOS 0x40000
FILETYPE 1
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "CompanyName", "evad3rs"
      VALUE "FileDescription", "evasi0n iOS 6.x untethered jailbreak"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "evasi0n1.0"
      VALUE "LegalCopyright", "© 2013 @evad3rs. All rights reserved."
      VALUE "ProductName", "evad3rs evasi0n"
      VALUE "ProductVersion", "1.0.0"
    }
  }
}
